@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#47a5d1;
    --black:#13131a;
    --bg:#fff;
    --border:.1rem solid rgba(12, 11, 11, 0.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

section{
  padding:2rem 7%;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
.heading{
  text-align: center;
  color:var(--bg);
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span{
  color:var(--main-color);
  text-transform: uppercase;
}




/* inicio header */
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1.5rem 7%;
  position: absolute;
  top:0; left: 0; right: 0;
  z-index: 1000;
}

.header .logo img{
  height: 5rem;
  
}

.header .navbar a{
  margin:0 1rem;
  font-size: 1.6rem;
  color:black;
}

.header .navbar a:hover{
  color:var(--main-color);
  border-bottom: .1rem solid var(--main-color);
  padding-bottom: .5rem;
}

.header .icons a{
  color:var(--main-color);
  cursor: pointer;
  font-size: 4rem;
  margin-left: 2rem;
}

.header .icons div:hover{
  color:var(--main-color);
}

/* fin header */

/* inicio swiper */
.swiper {
  display: flex;
  width: 100%;
  height: auto;
  max-height: 640px;
}

.swiper h1{
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 34%;
  margin: auto;
  z-index: 99;
  color: rgb(250, 250, 250);
  text-align: center;
  font-size: 2.6em;
  padding:.9rem 3rem;
  /* background:#47a5d1; */

}

.swiper .button{
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 40%;
    margin: auto;
    z-index: 99;
    color: rgb(250, 250, 250);
    text-align: center;
    font-size: 2.6em;
    padding:.9rem 3rem;
    background:#47a5d1;
    cursor: pointer;
  
}

.swiper .button a{
  color: var(--bg);
}


.swiper .button:hover{

  letter-spacing: .2rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* fin swiper */

/* inicio productos */
.products{
  background: var(--black);
}

.products .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
  /* background: var(--black); */
}

.products .box-container .box{
  text-align: center;
  border:var(--border);
  padding: 2rem;
}

.products .box-container .box .icons a{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border:var(--border);
  color:#fff;
  margin:.3rem;
}

.products .box-container .box .icons a:hover{
  background:var(--main-color);
}

.products .box-container .box .image{
  padding: 2.5rem 0;
}

.products .box-container .box .image img{
  height: 25rem;
}

.products .box-container .box .content h3{
  color:var(--main-color);
  font-size: 2.5rem;
}

.products .box-container .box .content .stars{
  padding: 1.5rem;
}

.products .box-container .box .content .stars i{
  font-size: 1.7rem;
  color: var(--bg);
}

.products .box-container .box .content .price{
  color:#fff;
  font-size: 2.5rem;
}

.products .box-container .box .content .price span{
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1.5rem;
}
/* fin productos */
/* inicio contacto */
.contact{
  background: var(--black);
}
.contact .row{
  display: flex;
  background:var(--bg);
  flex-wrap: wrap;
  gap:1rem;
}

.contact .row .map{
  flex:1 1 45rem;
  width: 100%;
  object-fit: cover;
}
/* fin productos */


.footer{
  background:var(--black);
  text-align: center;
}

.footer .share{
  padding:1rem 0;
}

.footer .share a{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color:#fff;
  border:var(--border);
  margin:.3rem;
  border-radius: 50%;
}

.footer .share a:hover{
  background-color: var(--main-color);
}

.footer .links{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:2rem 0;
  gap:1rem;
}

.footer .links a{
  padding:.7rem 2rem;
  color:#fff;
  border:var(--border);
  font-size: 2rem;
}

.footer .links a:hover{
  background:var(--main-color);
}

.footer .credit{
  font-size: 2rem;
  color:#fff;
  font-weight: lighter;
  padding:1.5rem;
}

.footer .credit span{
  color:var(--main-color);
}

/* Media */
@media(max-width: 780px){

 
  .header .logo img{
    margin-top: 9px;
    height: 2.5rem;
  }
 
  .header .icons a{
    color:var(--main-color);

    cursor: pointer;
    font-size: 3rem;
    margin-left: 2rem;
  }


  .swiper h1{
    border-radius: 5px;
    position: absolute;
    top: 23%;
    left: 4%;
    margin: auto;
    z-index: 99;
    color: rgb(250, 250, 250);
    text-align: center;
    font-size: 2.1em;
    padding:.9rem 3rem;
    /* background:#47a5d1; */
  
  }
  
  .swiper .button{
      border-radius: 5px;
      position: absolute;
      top: 34%;
      left: 20%;
      margin: auto;
      z-index: 99;
      color: rgb(250, 250, 250);
      text-align: center;
      font-size: 1.6em;
      padding:.7rem 3rem;
      background:#47a5d1;
      cursor: pointer;
    
  }
}



@media(max-width: 480px){

 
  .header .logo img{
    margin-top: 9px;
    height: 2.5rem;
  }
 
  .header .icons a{
    color:var(--main-color);

    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
  }


  .swiper h1{
    border-radius: 5px;
    position: absolute;
    top: 23%;
    left: 4%;
    margin: auto;
    z-index: 99;
    color: rgb(250, 250, 250);
    text-align: center;
    font-size: 1.6em;
    padding:.9rem 3rem;
    /* background:#47a5d1; */
  
  }
  
  .swiper .button{
      border-radius: 5px;
      position: absolute;
      top: 34%;
      left: 20%;
      margin: auto;
      z-index: 99;
      color: rgb(250, 250, 250);
      text-align: center;
      font-size: 1.6em;
      padding:.7rem 3rem;
      background:#47a5d1;
      cursor: pointer;
    
  }
}


@media(max-width: 480px){

 
  .header .logo img{
    margin-top: 9px;
    height: 1.5rem;
  }
 
  .header .icons a{
    color:var(--main-color);

    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 2rem;
  }


  .swiper h1{
    border-radius: 5px;
    position: absolute;
    top: 27%;
    left: 10%;
    margin: auto;
    z-index: 99;
    color: rgb(250, 250, 250);
    text-align: center;
    font-size: 0.9rem;
    padding:.9rem 3rem;
    /* background:#47a5d1; */
  
  }
  
  .swiper .button{
      border-radius: 5px;
      position: absolute;
      top: 39%;
      left: 25%;
      margin: auto;
      z-index: 99;
      color: rgb(250, 250, 250);
      text-align: center;
      font-size: 0.6em;
      padding:.7rem 3rem;
      background:#47a5d1;
      cursor: pointer;
    
  }
}