@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --ligth-blue:rgb(28, 190, 231);
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section:nth-child(even){
    background:rgb(86, 90, 89);
}



.home .btn{
    position: absolute;
    top: 5%;
    left: 36%;
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: var(--ligth-blue);
    border-radius: .5rem;
    padding:.8rem 3rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}


.header{
    background: #01010300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 8rem;
    
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:rgb(3, 3, 3);
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:rgb(28, 190, 231);
    cursor: pointer;
    font-size: 4.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}


.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem; 
    padding-top: 9rem;
}

.home .home-slider .slide .content{
    flex:1 1 45rem;
}

.home .home-slider .slide .image{
    flex:1 1 45rem;
}

.home .home-slider .slide .image img{
    width: 100%;
}

.home .home-slider .slide .content span{
    color:var(--green);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
    color:var(--black);
    font-size: 7rem;
}

.home .home-slider .slide .content p{
    color:var(--light-color);
    font-size: 2.2rem;
    padding:.5rem 0;
    line-height: 1.5;
}







